@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
    .layout {
        /* 1100px */
        max-width: 78.75rem;
        @apply mx-auto w-11/12;
    }

    .clip-path-heart {
        clip-path: path("M24.8439 6.75949L25.551 6.05238L27.858 3.74541C32.8519 -1.24847 40.9486 -1.24847 45.9425 3.74541C50.9363 8.73929 50.9363 16.836 45.9425 21.8299L42.9284 24.8439L25.5511 42.2213L24.8439 42.9284L24.1368 42.2213L6.75949 24.8439L3.74541 21.8299C-1.24847 16.836 -1.24847 8.73929 3.74542 3.74541C8.7393 -1.24847 16.836 -1.24847 21.8299 3.74541L24.1368 6.05238L24.8439 6.75949ZM42.2213 24.1368L24.8439 41.5142L7.4666 24.1368L4.45252 21.1227C-0.15084 16.5194 -0.150835 9.05588 4.45252 4.45252C9.05588 -0.150839 16.5194 -0.150841 21.1228 4.45252L24.1368 7.46659L24.8439 8.1737L25.551 7.46659L28.5651 4.45251C33.1685 -0.150842 40.632 -0.150838 45.2354 4.45252C49.8387 9.05588 49.8387 16.5194 45.2354 21.1228L42.2213 24.1368Z");
    
    }

    
    
}


